<p id="notice"><%= notice %></p>

<h1>Devices</h1>

<div class="collection">
  <% @devices.each do |device| %>
    <%= link_to "#{device.mac} - #{(device.name || 'Unnamed Device')}",
      device, class: "collection-item" %>
  <% end %>
</div>
